{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>MovieTime</title>
        <style>
        .circle-image {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
        }

        .circle-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .movie img {
            max-width: 100%;
            height: auto;
        }

        .container {
            display: flex;
            align-items: flex-start;
        }

        .container-review {
            border: 2px solid antiquewhite;
            padding: 10px;
            margin: 20px auto;
            max-width: calc(100% - 400px);
            text-align: left;
            border-radius: 20px;
            overflow: hidden;
        }

        .poster {
            flex: 1;
            padding: 20px;
        }

        .movie-info {
            flex: 2;
            padding: 20px;
        }

        .button-container {
            display: flex;
            gap: 10px;
        }

         .custom-button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 150px;
            height: 40px;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            color: white;
            background-color: #64a19d;
            text-decoration: none;
            outline: none;
            transition: background-color 0.3s ease;
        }

        .custom-button:hover {
            background-color: #518780;
        }

        a.special-link {
            color: #64a19d;
        }

        a.special-link:hover {
            color: antiquewhite;
        }


    </style>
        <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
        <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
    </head>
    <body>
        <!-- Navigation-->
        {% include 'movieapp/navbar.html' %}

                <!-- Masthead-->
        <header class="masthead">
        <br>
        <br>
        <br>

        <div class="container">
          <div class="poster">

          {% if inMydb is True %}
            <img src="{{ movie_data.Poster_url }}">
          {% else %}
            <img src="{{ movie_data.Poster }}">
          {% endif %}
          </div>


            <div class="movie-info">
              <p><h5 style="color: antiquewhite">{{ movie_data.Title }}</h5></p>
              <span style="color: antiquewhite">Type: <b>{{ movie_data.Type }}</b></span>
              <br>
              <p style="color: antiquewhite">Plot: {{ movie_data.Plot }} </p>
              <br>
              <p style="color: antiquewhite">Year: <b>{{ movie_data.Year }}</b></p>
              <p style="color: antiquewhite" class="right">Rated: <b>{{ movie_data.Rated }}</b></p>
              <p style="color: antiquewhite">Released: <b>{{ movie_data.Released }}</b></p>
              <p style="color: antiquewhite">Runtime: <b>{{ movie_data.Runtime }}</b></p>

            {% if inMydb is True %}
              <p style="color: antiquewhite">Genre: {% for genre in movie_data.Genre.all %}<b>
                  <a class="special-link" href="{{ genre.get_absolute_url }}">
                      {{ genre }}
                  </a>,
              </b>{% endfor %}</p>
            {% else %}
              <p style="color: antiquewhite">Genre: <b>{{ movie_data.Genre }} </b></p>
            {% endif %}


              <p style="color: antiquewhite">Director: <b>{{ movie_data.Director }}</b></p>
              <p style="color: antiquewhite">Writer: <b>{{ movie_data.Writer }}</b></p>
              <p style="color: antiquewhite"> imdb ID: <b>{{ movie_data.imdbID }}</b></p>


            {% if inMydb is True %}
              <p style="color: antiquewhite">Actors: {% for actor in movie_data.Actors.all %}
                  <b>
                      <a class="special-link" href="{{ actor.get_absolute_url }}">
                      {{ actor }}
                      </a>
                  </b>,
              {% endfor %}</p>
            {% else %}
              <p style="color: antiquewhite">Actors: <b>{{ movie_data.Actors }}</b></p>
            {% endif %}


              <p style="color: antiquewhite">Language: <b>{{ movie_data.Language }}</b></p>

               <ul>

                  <li class="collection-item avatar">
                    <span class="title" style="color: antiquewhite">Rated</span>
                    <p style="color: antiquewhite"><b>{{ reviews_avg.stars__avg }}</b> by <b>{{ reviews_count }}</b> people </p>
                  </li>


              {% if inMydb is True %}

              {% for movie in movie_data.Ratings.all %}

                  {% if movie.source == 'Internet Movie Database' %}
                    <li class="collection-item avatar">
                      <img src="{% static 'img/imdb_icon.png' %}" alt="" class="circle-image">
                      <span style="color: antiquewhite" class="title">{{ movie.source }}</span>
                      <p style="color: antiquewhite"><b>{{ movie.rating }}</b></p>
                      </li>
                  {% elif movie.source == 'Rotten Tomatoes' %}
                    <li class="collection-item avatar">
                      <img src="{% static 'img/rt_icon.png' %}" alt="" class="circle-image">
                      <span style="color: antiquewhite" class="title">{{ movie.source }}</span>
                      <p style="color: antiquewhite"><b>{{ movie.rating }}</b></p>
                    </li>
                  {% else %}
                      <li class="collection-item avatar">
                        <img src="{% static 'img/meta_icon.png' %}" alt="" class="circle-image">
                        <span style="color: antiquewhite" class="title">{{ movie.source }}</span>
                        <p style="color: antiquewhite"><b>{{ movie.rating }}</b></p>
                      </li>
                  {% endif %}

              {% endfor %}

              {% else %}

                  <li class="collection-item avatar">
                    <img src="{% static 'img/imdb_icon.png' %}" alt="" class="circle-image">
                    <span style="color: antiquewhite" class="title">{{ movie_data.Ratings.0.Source }}</span>
                    <p style="color: antiquewhite"><b>{{ movie_data.Ratings.0.Value }}</b></p>
                  </li>

                  <li class="collection-item avatar">
                    <img src="{% static 'img/rt_icon.png' %}" alt="" class="circle-image">
                    <span style="color: antiquewhite" class="title">{{ movie_data.Ratings.1.Source }}</span>
                    <p style="color: antiquewhite"><b>{{ movie_data.Ratings.1.Value }}</b></p>
                  </li>

                  <li class="collection-item avatar">
                    <img src="{% static 'img/meta_icon.png' %}" alt="" class="circle-image">
                    <span style="color: antiquewhite" class="title">{{ movie_data.Ratings.2.Source }}</span>
                    <p style="color: antiquewhite"><b>{{ movie_data.Ratings.2.Value }}</b></p>
                  </li>
                  </ul>
            {% endif %}

               <div class="button-container">
                  <a href="{% url 'rate-movie' movie_data.imdbID %}"style="background-color: #64a19d" class="custom-button"><i class="material-icons left">star</i>Rate</a>
                  <a href="{% url 'add-movies-to-towatch' movie_data.imdbID %}" style="background-color: #64a19d" class="custom-button"><i class="material-icons left">playlist_add</i>Watchlist</a>
                  <a href="{% url 'add-movies-to-watched' movie_data.imdbID %}" style="background-color: #64a19d" class="custom-button"><i class="material-icons left">playlist_add_check</i>Watched</a>
                </div>
            </div>
          </div>
        </div>
      </div>
      </div>

      <h4 class="text-center" style="color: antiquewhite">Reviews</h4>
                 {% for review in reviews %}
                     <div class="container-review">
                     <div style="margin: 20px">
                    {% if review.user.profile.picture %}
                      <img src="{{ review.user.profile.picture.url }}" alt="" class="circle-image">
                    {% else %}
                      <img src="{% static 'img/no_avatar.jpg' %}" alt="" class="circle-image">
                    {% endif %}
                    <span style="color: antiquewhite; font-size: larger" class="title"><b>{{ review.user.first_name }} {{ review.user.last_name }}</b><span style="font-size: medium">@{{ review.user.username }}</span></span>
                      <p style="color: antiquewhite" class="right">{{ review.date }}</p>
                     <div><br></div>
                         <div><a class="special-link" href="{% url 'review-detail' review.user.username movie_data.imdbID %}">
                             {{ review.text }}
                             {% if not review.text %}
                                 {{ review.get_default_comment }}
                             {% endif %}
                             <span class="right">{{ review.stars }} / 10</span>
                             <i class="material-icons right">star</i></a></div>
                     </div>
                     </div>
                  {% endfor %}

        </header>
        <div class="black-background">
        </div>

    </div>
    </div>


        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="{% static 'js/materialize.js' %}"></script>
        <script src="{% static 'js/init.js' %}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
